<a href="https://colab.research.google.com/github/Phaninderreddy01/2216144_AIML_Bootcamp/blob/main/ASSIGNMENT_1_AIML_BOOTCAMP_(2216144_PHANINDER).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples

In [3]:

marks= ["45,46,78"]
print(marks)

name = "phaninder"
age = 20

print(name)
print(age)

name ="phaninder"
age=20

name="cherry"
age=16

print(name)
print(age)

['45,46,78']
phaninder
20
cherry
16

In [ ]:
 
str = 'PHANINDER'
print('str = ', str)


print('str[0] = ', str[0])


print('str[-1] = ', str[-1])


print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])

str =  PHANINDER
str[0] =  P
str[-1] =  R
str[1:5] =  HANI
str[5:-2] =  ND

In [ ]:

str1 = 'Hello'
str2 ='World!'


print('str1 + str2 = ', str1 + str2)
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [5]:
name =" Tony Stark "
print(name.upper())
print(name.lower())
print(name.swapcase())
print(name.title())
print(name.capitalize())
print(name.find('S'))
print(name.find('A'))
print(name.find("Stark"))
print(name.replace("Tony Stark","Ironman"))
print(name.replace("Stark","ironman"))
print('T' in name)
print('m' in name)
string="  it was raining yesturday "
print(string.strip())
print(string.lstrip())
print(string.rstrip())

 TONY STARK
 tony stark
 tONY sTARK
 Tony Stark
 tony stark
6
-1
6
 Ironman
 Tony ironman
True
False
it was raining yesturday
it was raining yesturday
  it was raining yesturday

2.Implement the methods of List with examples.

In [9]:
marks= [95,98,99,97]
        
print(marks)

print(marks[0])  


print(marks[2])  


print(marks[3])  


print(marks[-1])


print(marks[-2])


print(marks[-4])

[95, 98, 99, 97]
95
99
97
97
99
95

In [11]:


marks = [95,98,97,99]

#elements from index 0 to index 2
print(marks[0:2])

# elements from index 1 to index 3
print(marks[1:3])

# elements from index 2, to end
print(marks[2:])

# elements beginning to end
print(marks[:])

for score in marks:
  print(score)

[95, 98]
[98, 97]
[97, 99]
[95, 98, 97, 99]
95
98
97
99

In [17]:

marks = [95,96,97]

marks.append(99)

print(marks)

marks.insert(0,99)

print(marks)
print(99 in marks)
print(len(marks))

marks.extend([96,91])
print(marks)
marks.clear()
print(marks)

[95, 96, 97, 99]
[99, 95, 96, 97, 99]
True
5
[99, 95, 96, 97, 99, 96, 91]
[]

In [ ]:

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["sru"] * 3)

[1, 3, 5, 9, 7, 5]
['sru', 'sru', 'sru']

In [ ]:

odd = [1, 9]
odd.insert(1,3)

print(odd)

[1, 3, 9]

In [20]:

marks =[99,98,97,95,96.91
        ]
# delete one item
del marks[2]
print(marks)

# delete multiple items
del marks[1:5]
print(marks)

# delete the entire list
del marks

[99, 98, 95, 96.91]
[99]

In [21]:
name= ['p','h','a','n','i']
name.remove('p')
print(name)

print(name.pop(1))
print(name)


print(name.pop())
print(name)

name.clear()
print(name)

['h', 'a', 'n', 'i']
a
['h', 'n', 'i']
i
['h', 'n']
[]

3.Implement the methods of Tuple with examples.

In [22]:



marks = ()
print(marks)


marks = (95,98,97)
print(marks)

tup = ("pizza", [8, 4, 6], (1, 2, 3))
print(tup)

()
(95, 98, 97)
('pizza', [8, 4, 6], (1, 2, 3))

In [26]:

marks = (97,95,96,99)

print(marks[0])
print(marks[-1])
print(marks[-3])

97
99
95

In [28]:
marks = (95,96,97,97,97)


print(marks.count(97))
print(marks.count(95))  
print(marks.index(97))

3
1
2

In [32]:

V_tuple=(95,96)

del V_tuple

4.Implement the methods of Dictionary with examples.

In [34]:

marks = {"english":95, 'chemistry':98}


print(marks["chemistry"])


print(marks.get('english'))

98
95

In [35]:
# Changing and adding Dictionary Elements
marks = {"english":95,"chemistry":98}

marks["physics"] = 97
print(marks)

marks["physics"]=99
print(marks)

{'english': 95, 'chemistry': 98, 'physics': 97}
{'english': 95, 'chemistry': 98, 'physics': 99}

In [51]:
dict={"name":'phaninder'," branch":'CSE(AIML)',"age":20,"college":'sr'}
print(dict["name"])
print(dict.keys())
print(dict.values())
dict["firstname"]='durganti' #add item
print(dict)
dict["college"]='SRU' #update value
print(dict)
dict.pop("age") #remove particular item
print(dict)
dict.popitem() #remove an item from last
print(dict)
dict.clear() # clear enter dict
print(dict)

phaninder
dict_keys(['name', ' branch', 'age', 'college'])
dict_values(['phaninder', 'CSE(AIML)', 20, 'sr'])
{'name': 'phaninder', ' branch': 'CSE(AIML)', 'age': 20, 'college': 'sr', 'firstname': 'durganti'}
{'name': 'phaninder', ' branch': 'CSE(AIML)', 'age': 20, 'college': 'SRU', 'firstname': 'durganti'}
{'name': 'phaninder', ' branch': 'CSE(AIML)', 'college': 'SRU', 'firstname': 'durganti'}
{'name': 'phaninder', ' branch': 'CSE(AIML)', 'college': 'SRU'}
{}

5.Implement the methods of Set with examples.

In [54]:
set1={95,98,97,97,97}
set2={10,9,7,8,6,5,1,3,2,4}
set1.add(11)
print(set1)
set1.update([12,13,14])
print(set1)
set1.discard(14)
print(set1)
set1.remove(95)
print(set1)
set1.copy()
print(set1)
set1.difference()
print(set1)
print(set1)
#union
print(set1.union(set2))
#intersection
print(set1.intersection(set2))
#difference
print(set1-set2)
print(set2-set1)
set1.pop()
print(set1)

{97, 98, 11, 95}
{97, 98, 11, 12, 13, 14, 95}
{97, 98, 11, 12, 13, 95}
{97, 98, 11, 12, 13}
{97, 98, 11, 12, 13}
{97, 98, 11, 12, 13}
{97, 98, 11, 12, 13}
{97, 98, 1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 9, 10}
set()
{97, 98, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{98, 11, 12, 13}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method

In [56]:
print(bin(40))
print(oct(40))
print(hex(40))

0b101000
0o50
0x28

7.Implement Arithmetic operators with examples.

In [55]:
A=5
B=2
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)
print(A**B)
print(A//B)

7
3
10
2.5
1
25
2

8.Implement Assignment operators with examples.

In [61]:
a=100
b=50
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c=2
c%=a
print(c)
c**=a
print(c)
c//=a
print(c)

150
250
150
15000
150.0
2
1267650600228229401496703205376
12676506002282294014967032053

9.Implement Comparison operators with examples.

In [66]:

print(3>2)
print(3<2)
print(3>=2)
print(3<=2)
print(3==2)
print(3==3)
print(3!=3)
print(3!=2)

True
False
True
False
False
True
False
True

10.Implement Logical operators with examples

In [67]:
a='true'
b='flase'
print(a and b)
print(a or b)
print(not a)
print(not b)

print(2>3 or 2>1)
print(3>2 and 2>1)
print(3>2 and 2>8)
print(not 2>3)
print(not 3>2)

flase
true
False
False
True
True
False
True
False

11.Implement Bitwise operators with examples

In [72]:
a=100
b=120
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

96
28
124
-101
25
400

12.Implement Membership operators with examples.

In [75]:
marks=[95,98,99]
subjects={"maths","physics","chemistry"}
print(96 in marks)
print("maths" in subjects)
print(97 in marks)
print('english' not in subjects)

False
True
False
True

13.Implement Identity operators with examples

In [76]:
a=[1,2,3]
b=[4,5,6]
x='car'
y='bike'
print(a is b)
print(a is not b)
print(x is y)
print(x is not y)

False
True
False
True

14.demonstrate Negative indexing for List and apply slicing

In [77]:
list=[1,6.0,2,3.5,10,20,56,5,1.4]
print(list[-1])
print(list[-4])
print(list[-9:-1])
print(list[-9::])
print(list[::-1])
print(list[::])
print(list[-9::5])

1.4
20
[1, 6.0, 2, 3.5, 10, 20, 56, 5]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1.4, 5, 56, 20, 10, 3.5, 2, 6.0, 1]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1, 20]

15.Predict the output for the given code snippet and justify the result.

In [78]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
#[::-1] reverse the whole string and [4::3] reads the string from index 4 and indexjump to the value 3
print("-------------------------")
print('Welcome to python training program'[3:10][::-1])
#[3:10] it starts from 3index and stops at 10index  [::-1]the it will reverse the string

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

16.Write a python code to get desired output
Input string:p_phrase="was it a car or a cat I saw"
Output string: WAS I TAC A RO RAC A TI SAW

In [79]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

17.You are required to generate a word similar to ZOO, X and Y that denote 
the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
Input X= 2 Output ZZOOOO 
Input X= 5 Output ZZZZZOOOOOOOOOO

In [81]:
x=int(input("Enter a value"))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a value5
x= 5
y= 10
ZZZZZOOOOOOOOOO